apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: airbnb-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: airbnb.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: airbnb-app
            port:
              number: 8080
